{% extends 'templates/pages/base.html' %}

{% block title %}
Login Page
{% endblock %}

{% block head %}
<link rel="stylesheet" href="/assets/airplane_mode/css/login.css">
{% endblock %}

{% block content %}
<div class="parent-container">
    <div class="child-container">
        <h2 class="title">Login Form</h2>
        <form id="login-form">
            <input type="hidden" name="csrf" id="csrf" value={{csrf_token}}>
            <div class="email-container">
                <label for="email" >Email</label>
                <input type="email" id="email" class="email" name="email" required>
            </div>
            <div class="password-container">
                <label for="password">Password</label>
                <input type="password" name="password" class="password" id="password" required>
            </div>
            <input type="submit" value="Login" class="submit-btn">
        </form>
    </div>
</div>
{% endblock %}

{% block scripts%}
<script src="/assets/airplane_mode/js/login.js"></script>
{% endblock %}
